<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- loading.ejs -->

<div class="loading-screen" style="display: none;">
  <div class="spinner"></div>
  <p>Loading...</p>
</div>

  </body>
</html>
